body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7d2d2;
}
.res-img {
    width: 100%; 
    border-radius: 8px; 
    margin-bottom: 12px;
}
h3 {
    font-family: Arial, sans-serif; 
    color: #333;
}
p {
    font-family: Arial, sans-serif; 
    color: #666; 
    font-size: 14px; 
    line-height: 1.5;
}
#res {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 16px; 
    margin: 8px; 
    max-width: 300px; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header {
    background-color: #f83614;
    color: white;
    padding: 1rem;
    text-align: center;
}
.container {
    padding: 1rem;
}
.search-bar {
    margin-bottom: 1rem;
    text-align: center;
}
.search-bar input {
    padding: 0.5rem;
    width: 70%;
    max-width: 400px;
    margin-right: 0.5rem;
}
.search-bar button {
    padding: 0.5rem 1rem;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.search-bar button:hover {
    background-color: #e5533d;
}
.meal-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.meal-card img {
    border-radius: 8px;
    margin-bottom: 0.5rem;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #f83614;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
#toTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #275c34;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it stays above other elements */
}

#toTopBtn:hover {
    background-color: #0056b3;
}